@using System.Security.Claims
@model WhiskeySour.Web.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = @Model.FirstName + " " + @Model.LastName;
}
<div class="d-flex justify-content-center">
    @if (Model.ProfilePicture != null)
    {
        <img src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)"
             alt="Profile picture" class="rounded-circle" style="height:150px;width:150px;object-fit:cover;"/>
    }
    else
    {
        <img src="/images/default-profilbild.png" alt="Profile picture" class="rounded-circle" style="height:150px;width:150px;object-fit:cover;"/>
    }
</div>
<h2 class="d-flex justify-content-center">@Model.FirstName @Model.LastName</h2>

<h4>Basic information</h4>
<div class="card p-4">
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>First name:</strong> @Model.FirstName</p>
    <p><strong>Last name:</strong> @Model.LastName</p>
</div>
<div class="d-flex align-items-center">
<a class="btn btn-dark me-2"
   asp-controller="Message"
   asp-action="Conversation"
   asp-route-id="@Model.UserId">
    Send Message
</a>
@if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.NameIdentifier) != Model.UserId)
{
    if (Model.IsFollowedByCurrentUser)
    {
        <form asp-controller="Follow" asp-action="Unfollow" method="post">
            <input type="hidden" name="userId" value="@Model.UserId"/>
            <button type="submit" class="btn btn-outline-dark">Unfollow</button>
        </form>
    }
    else
    {
        <form asp-controller="Follow" asp-action="Follow" method="post">
            <input type="hidden" name="userId" value="@Model.UserId"/>
            <button type="submit" class="btn btn-dark">Follow</button>
        </form>
    }
}
</div>