@model WhiskeySour.Web.ViewModels.SearchViewModel

<h2 class="d-flex justify-content-center">Search results for "@Model.Query"</h2>
<div class="d-flex justify-content-center">
    @if (!Model.Products.Any() && !Model.Users.Any())
    {
        <p>No results matched the search query.</p>
    }

    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Products</h4>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId" class="text-decoration-none text-reset">
                                    <div class="card h-100 border">
                                        @if (product.Image != null)
                                        {
                                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(product.Image)" class="card-img-top" alt="@product.Name"/>
                                        }
                                        else
                                        {
                                            <img src="~/images/placeholder.jpeg" class="card-img-top" alt="No image available"/>
                                        }
                                        <div class="card-body">
                                            <h5 class="card-title">@product.Name</h5>
                                            <p class="card-text">@product.Category.Name</p>
                                            <p class="card-text"><strong>@product.Price $ </strong></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="mb-3 mt-4">Users</h4>
                    @foreach (var user in Model.Users)
                    {
                        <a asp-controller="Profile" asp-action="Details" asp-route-id="@user.UserId" class="text-decoration-none text-reset">
                        <div class="card-mb-3 mt-3 border">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    @if (user.ProfilePicture != null)
                                    {
                                        <img src="data:image/png;base64,@Convert.ToBase64String(user.ProfilePicture)" 
                                             class="img-fluid rounded-circle" style="height: 75px; width: 75px; object-fit: cover;" alt="@user.FirstName"/>
                                    }
                                    else
                                    {
                                        <img src="/images/default-profilbild.png" class="img-fluid rounded-circle" 
                                             style="height: 75px; width: 75px; object-fit: cover;" alt="No profile image"/>
                                    }
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@user.FirstName @user.LastName</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    }
                </div>
            </div>

        </div>
    }
</div>



