@model WhiskeySour.Web.ViewModels.ForumViewModel

<h2>@Model.ThreadTitle</h2>
<p><strong>Created by:</strong> @Model.CreatedByName</p>
<p><strong>Date:</strong> @Model.Created.ToString("yyyy-MM-dd HH:mm")</p>
<p>@Model.ThreadContent</p>

<h4>Comments</h4>
@if (Model.Comments != null && Model.Comments.Any())
{
    <ul class="list-group mb-4">
        @foreach (var comment in Model.Comments)
        {
            <li class="list-group-item">
                <p>@comment.Content</p>
                <small class="text-muted">
                    By @comment.CreatedByName on @comment.Created.ToString("yyyy-MM-dd HH:mm")
                </small>
            </li>
        }
    </ul>
}
else
{
    <p class="text-muted">Be the first to comment in this thread</p>
}

<form asp-action="AddComment" method="post">
    <input type="hidden" name="ThreadId" value="@Model.ThreadId"/>
    <div class="form-group">
        <label for="Content">Add comment:</label>
        <textarea name="Content" class="form-control" rows="3"></textarea>
        <span asp-validation-for="NewComment.Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark mt-2">Post Comment </button>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}