@using WhiskeySour.DataLayer
@model IEnumerable<WhiskeySour.Web.ViewModels.NotificationViewModel>

@{
    ViewData["Title"] = "Notifications";
}

<h2>Notifications</h2>

@foreach (var notification in Model)
{
    <div class="card mb-3 @(!notification.IsRead ? "border border-danger" : "")">
        <a class="text-decoration-none text-dark" asp-controller="Notification" asp-action="MarkAsRead" asp-route-id="@notification.Id">
            <div class="card-body">
            @if (notification.Type == NotificationType.NewComment)
            {
                    <p>New comment from @notification.FromUserName</p>
                    <p>@notification.CommentText</p>
            }
            else if (notification.Type == NotificationType.NewFollower)
            {
                    <p>@notification.FromUserName started following you!</p>
            }
            else if (notification.Type == NotificationType.NewMessage)
            {
                    <p>New message from @notification.FromUserName</p>
                    <p>@notification.MessageText</p>
            }
            else
            {
                    <p>New thread from @notification.FromUserName</p>
                    <p>@notification.ThreadTitle</p>
            }
            </div>
        </a>
        <small class="text-muted ms-2">@notification.CreatedAt.ToString("yyyy-MM-dd HH:mm")</small>
    </div>
}
