@using WhiskeySour.DataLayer
@model IEnumerable<WhiskeySour.Web.ViewModels.NotificationViewModel>

@{
    ViewData["Title"] = "Notifications";
}

<h2>Notifications</h2>

<ul class="list-group ">
@foreach (var notification in Model)
{
    <li class="list-group-item">
        @if (notification.Type == NotificationType.NewComment)
        {
            <p>New comment from @notification.FromUserName</p>
            <p>@notification.CommentText</p>
        } else if (notification.Type == NotificationType.NewFollower)
        {
            <p>@notification.FromUserName started following you!</p>
        } else if (notification.Type == NotificationType.NewMessage)
        {
            <p>New message from @notification.FromUserName</p>
            <p>@notification.MessageText</p>
        }
        else
        {
            <p>New thread from @notification.FromUserName</p>
            <p>@notification.ThreadTitle</p>
        }
        
        <small class="text-muted">@notification.CreatedAt.ToString("yyyy-MM-dd HH:mm")</small>

    </li>
}
</ul>