@using WhiskeySour.DataLayer
@model IEnumerable<WhiskeySour.Web.ViewModels.NotificationViewModel>

@{
    ViewData["Title"] = "Notifications";
}

<h2>Notifications</h2>

@foreach (var notification in Model)
{
    <div class="card mb-3">
        
        @if (notification.Type == NotificationType.NewComment)
        {
            <a class="text-decoration-none text-dark" asp-controller="Forum" asp-action="Details" asp-route-id="@notification.ThreadId"
               asp-fragment="comment-@notification.CommentId">
                <div class="card-body">
                <p>New comment from @notification.FromUserName</p>
                <p>@notification.CommentText</p>
                </div>
            </a>
        }
        else if (notification.Type == NotificationType.NewFollower)
        {
            <a class="text-decoration-none text-dark" asp-controller="Profile" asp-action="Details" asp-route-id="@notification.FromUserId">
                <div class="card-body">
                <p>@notification.FromUserName started following you!</p>
                </div>
            </a>
        }
        else if (notification.Type == NotificationType.NewMessage)
        {
            <a class="text-decoration-none text-dark" asp-controller="Message" asp-action="Conversation" asp-route-id="@notification.FromUserId">
                <div class="card-body">
                <p>New message from @notification.FromUserName</p>
                <p>@notification.MessageText</p>
                </div>
            </a>
        }
        else
        {
            <a class="text-decoration-none text-dark" asp-controller="Forum" asp-action="Details" asp-route-id="@notification.ThreadId">
                <div class="card-body">
                <p>New thread from @notification.FromUserName</p>
                <p>@notification.ThreadTitle</p>
                </div>
            </a>
        }
        <small class="text-muted ms-2">@notification.CreatedAt.ToString("yyyy-MM-dd HH:mm")</small>
        </div>
    
    
}
