@using WhiskeySour.Domain
@model IEnumerable<WhiskeySour.Web.ViewModels.ProductViewModel>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>In Stock</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var productViewModel in Model)
    {
        <tr>
            <td>@productViewModel.Product.Name</td>
            <td>@productViewModel.Product.Description</td>
            <td>@productViewModel.Product.Price</td>
            <td>@productViewModel.Product.Category?.Name</td>
            <td>@if (productViewModel.Product.InStock)
                {
                    <span class="badge bg-success">Yes</span>
                }
                else
                {
                    <span class="badge bg-danger">No</span>
                }
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-controller="Product" asp-action="Details" asp-route-id="@productViewModel.Product.ProductId">
                    View Details
                </a> 
            </td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-secondary" asp-controller="Product" asp-action="Create">Add product</a>